{
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "common": true,
    "describe": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "camelcase": [1, {"allow": ["C_EmailAddress","access_token","grant_type","token_type",
      "refresh_token","client_id","client_secret"]}]
  }
}
